<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1>{{link-to "Releasy" "index"}}</h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li>
        {{#if currentRepo.name}}
          {{#link-to 'releases' currentRepo.owner currentRepo.name}}
          {{currentRepo.owner}}/{{currentRepo.name}}
          {{/link-to}}
        {{/if}}
      </li>
    </ul>
    <ul class="right">
      <li>
        {{#if isSignedIn}}
          <a href="#" {{action signOut}}>Sign Out</a>
        {{else}}
          {{link-to "Sign in with Github" "auth"}}
        {{/if}}
      </li>
    </ul>
  </section>
</nav>

{{outlet}}

<div class="row">
  <div class="large-5 columns">
    Made with <img src="/images/alien.png" style="vertical-align:middle" height="32" width="32">
    by <a href="http://twitter.com/joefiorini">Joe Fiorini</a> • <a href="http://d-i.co/contact">Hire us to help you with Ember!</a>
  </div>
  <div class="large-4 columns"></div>
  <div class="large-3 columns">
    <script id='fbiy9za'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=joefiorini&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbiy9za');</script>
  </div>
</div>
